.todo {
  height: calc(100% - 46px);
  overflow: auto;
}

.todo__heading {
  height: 80px;
  padding: 20px;
  margin: 0;
}

.todo__input {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  height: 180px;
}

.todo__input input,
.todo__input textarea {
  display: block;
  width: 100%;
  /* padding: 10px; */
  /* margin-bottom: 10px; */
  box-sizing: border-box;
}

.todo__output {
  height: calc(100% - (80px + 180px + 60px));
  width: 80%;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
  border: 1px solid;
}

.todo__output ul {
  list-style: none;
  padding: 0;
}

.todo__output li {
  margin-bottom: 10px;
}

.todo__output h3 {
  margin: 0;
}

.todo__output p {
  margin: 0;
  margin-bottom: 5px;
}

.todo__output button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.todo__output--wrapper {
}
.todo__output--list {
  border: 1px solid black;
  padding: 10px;
}

.todo_table {
  width: 80%;
  margin: 0 auto;
}