.page__wrapper {
  padding: 5%;
}
.page__wrapper--hero {
  padding: 5% 20%;
}
.page__wrapper--login,
.page__wrapper--login {
  padding: 5%;
  background: gainsboro;
  height: calc(100% - 46px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.wh-100 {
  width: 100%;
  height: 100%;
}
